#ignore data folders
argentina/**/data
bangladesh/**/data
brazil/**/data
egypt/**/data
ethiopia/**/data
germany/**/data
ghana/**/data
india/**/data
kenya/**/data
mexico/**/data
nigeria/**/data
philippines/**/data
south-africa/**/data
sri-lanka/**/data
vietnam/**/data


#old
philippines/module8/data/module8.gpkg*
india/module8/data/module8.gpkg*
india/module9/data/module9.gpkg*
brazil/**/backup/*
ghana/module4/data/ashanti_population_density.tif
south-africa/module3/data/HRSL_Gauteng_Population*
south-africa/module4/data/HRSL_Gauteng_Population*
south-africa/module5/data/HRSL_Gauteng_Population*
south-africa/module6/data/HRSL_Gauteng_Population*
south-africa/module7/data/HRSL_Gauteng_Population*